.wrapper {
    width: 100%;
    display: flex;
    padding: 4rem;
    min-height: 500px;
}



.leftSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageWrapper {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgb(0, 38, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.realtorImage {
    position: absolute;
    top: -30px;
    width: 85%;
    height: 95%;
    /* object-fit: cover; */
}

.threeDecadesLogo {
    margin-top: 20px;
    width: 150px;
    height: auto;
}