.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
    padding: 1rem;
}

.leftSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageWrapper {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 71, 0);
}